.output, .message{
    text-align:center;
    font-size:1em;
}
.question,.output{
    border:1px solid #ccc;
}
.question{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.gameoptions{
    text-align:center;
    width:50%;
    margin:auto;
    font-size:0.8em;
    background-color: #ddd;
}
button{
    /* text-align:center; */
    margin:20px auto;
    padding:10px;
    background-color:red;
    border-radius:10px;
    font-size:1em;
    color:white;
}
.boxAnswer{
    font-size:1em;
    /* text-align:center; */
    width:90px;
    background-color: #ddd;
    border:1px solid #ccc;
}
.csvBtn{
    text-align:center;
    margin:20px auto;
    display:block;
    padding:10px;
    background-color: green;
    border-radius: 10px;
    font-size:1em
}
.startBtn{
    text-align:center;
    margin:20px auto;
    display:block;
    padding:10px;
    background-color:red;
    border-radius:10px;
    font-size:1em;
    color:white;
}